* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: #6595fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.book {
  aspect-ratio: 16/9;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  perspective: 700px;
  perspective: center bottom;
}
.cover {
  background: url("./Front.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.pastdown {
  background-color: brown !important;
}
.spine {
  background: url("./Back.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.sheet {
  aspect-ratio: 8/9;
  width: 50%;
  position: absolute;
  transform-origin: left center;
  transform-style: preserve-3d;
  transition: all cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -webkit-transition: all cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -moz-transition: all cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -ms-transition: all cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -o-transition: all cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
}
.sheet.down {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.page {
  aspect-ratio: 8/9;
  width: 100%;
  background: #ebd8a9;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.page.left {
  box-shadow: inset -1px 0 30px black;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.page.right {
  box-shadow: inset 1px 0 20px black;
}
p {
  margin-top: 20px;
}
